<a href="https://colab.research.google.com/github/savig-vi/SVM/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# https://www.kaggle.com/code/chuyuliucs/hotel-booking-analysis-ml      Phân tích dữ liệu
# https://www.kaggle.com/code/kumarnilesh174/hotel-reservations-predictions-89
# https://www.kaggle.com/code/tyagdu01/dushyant-svm
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.svm import SVC
from sklearn.metrics import classification_report, roc_curve, auc
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [38]:
# !pip install joblib

import joblib

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [40]:
data = pd.read_csv('https://raw.githubusercontent.com/amateurdev29/doan_ttnt1/main/Hotel%20Reservations.csv',encoding='unicode_escape')
df = pd.DataFrame(data)
# col_names = df.iloc[0].tolist()
# df.columns = col_names
# df.drop(0, inplace=True)
df

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [39]:
subset = df.iloc[:, 1:-1]
subset

,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,0,1,2,1,0,1,224,2017,10,2,2,0,0,0,65.0,0
1,0,2,3,0,0,1,5,2018,11,6,1,0,0,0,107.0,1
2,0,2,1,1,0,1,1,2018,2,28,1,0,0,0,60.0,0
3,0,0,2,1,0,1,211,2018,5,20,1,0,0,0,100.0,0
4,0,1,1,0,0,1,48,2018,4,11,1,0,0,0,94.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,0,2,6,1,0,4,85,2018,8,3,1,0,0,0,168.0,1
36271,0,1,3,1,0,1,228,2018,10,17,1,0,0,0,91.0,2
36272,0,2,6,1,0,1,148,2018,7,1,1,0,0,0,98.0,2
36273,0,0,3,0,0,1,63,2018,4,21,1,0,0,0,94.0,0
36274,0,1,2,1,0,1,207,2018,12,30,2,0,0,0,162.0,0

In [3]:
df.columns

Index(['Booking_ID', 'no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status'],
      dtype='object')

In [4]:
# df['type_of_meal_plan'].value_counts()
# df['type_of_meal_plan'].unique()

# df['room_type_reserved'].value_counts()
# df['room_type_reserved'].unique()

# df['market_segment_type'].value_counts()
# df['market_segment_type'].unique()

# df['booking_status'].unique()

In [5]:
type_of_meal_plan_mapping = {'Not Selected':0, 'Meal Plan 1':1, 'Meal Plan 2':2, 'Meal Plan 3':3}
df['type_of_meal_plan'] = df['type_of_meal_plan'].map(type_of_meal_plan_mapping)

In [6]:
room_type_reserved_mapping = {'Room_Type 1':1, 'Room_Type 2':2, 'Room_Type 3':3, 'Room_Type 4':4, 'Room_Type 5':5, 'Room_Type 6':6,'Room_Type 7':7}
df['room_type_reserved'] = df['room_type_reserved'].map(room_type_reserved_mapping)

In [7]:
market_segment_type_mapping = {'Online':1, 'Offline':2, 'Corporate':3, 'Complementary':4, 'Aviation':5}
df['market_segment_type'] = df['market_segment_type'].map(market_segment_type_mapping)

In [8]:
booking_status_mapping = {'Not_Canceled':0, 'Canceled':1}
df['booking_status'] = df['booking_status'].map(booking_status_mapping)

In [9]:
# Hàm isna() dùng để kiểm tra giá trị thiếu, ở đây kiểm tra giá trị thiếu của từng cột và đếm tổng số lượng thiếu từng cột
df.isna().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [10]:
df.fillna(df.mean(), inplace=True, axis=0)
df = df.round()
df

<ipython-input-10-b2322ee4780e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True, axis=0)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,1,0,1,224,2017,10,2,2,0,0,0,65.0,0,0
1,INN00002,2,0,2,3,0,0,1,5,2018,11,6,1,0,0,0,107.0,1,0
2,INN00003,1,0,2,1,1,0,1,1,2018,2,28,1,0,0,0,60.0,0,1
3,INN00004,2,0,0,2,1,0,1,211,2018,5,20,1,0,0,0,100.0,0,1
4,INN00005,2,0,1,1,0,0,1,48,2018,4,11,1,0,0,0,94.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,1,0,4,85,2018,8,3,1,0,0,0,168.0,1,0
36271,INN36272,2,0,1,3,1,0,1,228,2018,10,17,1,0,0,0,91.0,2,1
36272,INN36273,2,0,2,6,1,0,1,148,2018,7,1,1,0,0,0,98.0,2,0
36273,INN36274,2,0,0,3,0,0,1,63,2018,4,21,1,0,0,0,94.0,0,1
36274,INN36275,2,0,1,2,1,0,1,207,2018,12,30,2,0,0,0,162.0,0,0

In [11]:
df = df.drop('Booking_ID', axis=1)

In [12]:
X = df.iloc[:, :17]
y = df.iloc[:,17]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8, random_state = 42)

parameters_dictionary = {'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf']}
svm = SVC()
svm.get_params()

{'C': 1.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [14]:
grid_search = GridSearchCV(svm, param_grid=parameters_dictionary, verbose = 3, cv=3)

In [29]:
# grid_search.fit(X_train, y_train)
svm_model_loaded = joblib.load('/content/drive/MyDrive/Colab Notebooks/svm_model.joblib')

In [19]:
best_model = grid_search.best_estimator_

In [20]:
best_model

SVC(C=0.1, kernel='linear')

In [27]:
joblib.dump(best_model, '/content/drive/MyDrive/Colab Notebooks/svm_model.joblib')

['/content/drive/MyDrive/Colab Notebooks/svm_model.joblib']

In [30]:
y_pred = svm_model_loaded.predict(X_test)

In [31]:
best_parameters = grid_search.best_params_ # Show the best hyperparameters for SVC
best_f1 = grid_search.best_score_ # Show the best f1-score 

print('The best model was:', best_model)
print('The best parameter values were:', best_parameters)
print('The best f1-score was:', best_f1)

The best model was: SVC(C=0.1, kernel='linear')
The best parameter values were: {'C': 0.1, 'kernel': 'linear'}
The best f1-score was: 0.798208010679173

In [33]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[17671,  1782],
       [ 3978,  5589]])

In [35]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# In ra màn hình các thông số đánh giá
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)

Accuracy: 0.8015161957270848
Precision: 0.7582417582417582
Recall: 0.5841956726246472
F1-Score: 0.6599362380446333

In [18]:
# gs_mean_test_scores = grid_search.cv_results_['mean_test_score']
# gs_mean_train_scores = grid_search.cv_results_['mean_train_score']

# print("The mean test f1-scores were:\n", gs_mean_test_scores)
# print("The mean train f1-scores were:\n", gs_mean_train_scores)

KeyError: ignored

In [ ]:
# pie chart distribution of multi-class labels
# plt.figure(figsize=(8,8))
# plt.pie(y.value_counts(),labels=y.unique(),autopct='%0.2f%%')
# plt.title('Pie chart distribution of multi-class labels')
# plt.legend()
# plt.show()

In [ ]:
# fit model on training data
# make predictions on test data
# y_pred = svm.predict(X_test)
# evaluate model performance
# acc = accuracy_score(y_test, y_pred)
# print('Accuracy:', acc)

In [ ]:
# parameters_dictionary = {'kernel':['linear', 'rbf', 'sigmoid'], 
#                          'C':[0.0001, 1, 10], 
#                          'gamma':[1, 10, 100]}

# grid_search = GridSearchCV(svm, 
#                            parameters_dictionary, 
#                            scoring = 'f1',
#                            return_train_score=True, 
#                            cv = 2,
#                            verbose = 2)
# 15 result is called hyperparameters

In [ ]:
# # from sklearn.metrics import classification_report, confusion_matrix
# # print(confusion_matrix(y_test, y_pred))
# # print(classification_report(y_test, y_pred))
# accuracy = accuracy_score(y_test, y_pred)
# f1 = f1_score(y_test, y_pred)

# # Tính toán confusion matrix
# cm = confusion_matrix(y_test, y_pred)

# # In ra kết quả đánh giá mô hình
# print("Accuracy:", accuracy)
# print("F1 Score:", f1)
# print("Confusion Matrix:\n", cm)